<div th:fragment="contenido">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0">Historial Clínico</h4>

    <!-- Buscador -->
    <form th:action="@{/list-historial}" method="get" class="d-flex">
      <input type="text" name="filtro" th:value="${filtro}" class="form-control form-control-sm me-2" placeholder="Buscar por paciente o médico">
      <button type="submit" class="btn btn-outline-primary btn-sm">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
  
  <a href="/reporte/historial" class="btn btn-danger" target="_blank">
    Generar Reporte PDF
</a>
  
<br>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-primary text-center">
        <tr>
          <th>ID</th>
          <th>Paciente</th>
          <th>Médico</th>
          <th>Fecha</th>
          <th>Diagnóstico</th>
          <th>Tratamiento</th>
          <th>Observaciones</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="his : ${listaHistoriales}">
          <td th:text="${his.id}"></td>
          <td th:text="${his.paciente.nombres + ' ' + his.paciente.apellidos}"></td>
          <td th:text="${his.medico.nombres + ' ' + his.medico.apellidos}"></td>
          <td th:text="${#temporals.format(his.fecha, 'dd/MM/yyyy')}"></td>
          <td th:text="${his.diagnostico}"></td>
          <td th:text="${his.tratamiento}"></td>
          <td th:text="${his.observaciones}"></td>
          <td class="text-center">
            <a th:href="@{'/edit-historial/' + ${his.id}}" class="btn btn-sm btn-warning">Editar</a>
            <a th:href="@{'/view-historial/' + ${his.id}}" class="btn btn-sm btn-info text-white">Ver</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
