<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Panel Administrativo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    .sidebar {
      height: 100vh;
      background-color: #003366;
      color: white;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 15px;
    }
    .sidebar a:hover {
      background-color: #005599;
    }
  </style>
</head>
<body>
  <div class="row g-0">
    <!-- Menú lateral -->
    <div class="col-md-2 sidebar">
      <a th:href="@{/}" class="p-3 text-center d-block text-white text-decoration-none">
 			 <h4>Clínica VidaSalud</h4>
	  </a>
      <a th:href="@{/new-paciente}"><i class="bi bi-person-circle me-2"></i>Pacientes</a>
      <a th:href="@{/new-medico}"><i class="bi bi-person-video3 me-2"></i>Médicos</a>
      <a th:href="@{/new-cita}"><i class="bi bi-calendar-check icon-left"></i>Agendar Citas</a>
      <a th:href="@{/new-historialClinico}"><i class="bi bi-flask icon-left"></i>Historial Clínico</a>
      <a th:href="@{/new-reporte}"><i class="bi bi-gear icon-left"></i>Reportes</a>
    </div>

    <!-- Contenido que cambia -->
<div class="col-md-10 bg-light">
  <nav class="navbar navbar-dark bg-primary px-4">
    <span class="navbar-brand">Panel Administrativo</span>
  </nav>

  <!-- Ajustes para separar del borde izquierdo y derecho -->
  <div class="px-5 py-5">
    <div class="bg-white rounded shadow-sm p-4" th:replace="__${contenido}__"></div>
  </div>
</div>

  </div>
</body>
</html>
